/* Fonts */

.outfit-<uniquifier > {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

/* Color Variables */
:root {
  --c-white: hsl(0, 0%, 100%);
  --c-stone-100: hsl(30, 54%, 90%);
  --c-stone-150: hsl(30, 18%, 87%);
  --c-stone-600: hsl(30, 10%, 34%);
  --c-stone-900: hsl(24, 5%, 18%);
  --c-brown: hsl(14, 45%, 36%);
  --c-rose-800: hsl(332, 51%, 32%);
  --c-rose-50: hsl(330, 100%, 98%);

  /* Fonts */
  --font-outfit: "Outfit", sans-serif;
  --font-serif: "Young Serif", serif;
}

/* Global Reset */
* {
  box-sizing: border-box;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--c-stone-100);
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.image img {
  min-width: 23.438rem;
  width: 100%;
  object-fit: cover;
  margin-bottom: 40px;

  @media (min-width: 760px) {
    min-width: 33.5rem;
    border-radius: 12px;
  }
}
h1 {
  font-family: var(--font-serif);
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1;
  color: var(--c-stone-900);
}

p {
  font-family: var(--font-outfit);
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: var(--c-stone-600);
}

ul,
ol {
  font-family: var(--font-outfit);
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: var(--c-stone-600);
}

.recipe {
  width: 100%;
  background-color: var(--c-white);
  padding: 0;
  @media (min-width: 760px) {
    max-width: 46rem;
    padding: 40px 40px;
    margin-block: 8rem;
    border-radius: 24px;
  }
}

.introduction {
  padding-inline: 32px;
  margin-block: 32px;
  @media (min-width: 760px) {
    padding-inline: 40px;
  }
}

.prep_box {
  background-color: var(--c-rose-50);
}
