/* Fonts */

.outfit-<uniquifier > {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

/* Color Variables */
:root {
  --c-white: hsl(0, 0%, 100%);
  --c-stone-100: hsl(30, 54%, 90%);
  --c-stone-150: hsl(30, 18%, 87%);
  --c-stone-600: hsl(30, 10%, 34%);
  --c-stone-900: hsl(24, 5%, 18%);
  --c-brown: hsl(14, 45%, 36%);
  --c-rose-800: hsl(332, 51%, 32%);
  --c-rose-50: hsl(330, 100%, 98%);

  /* Fonts */
  --font-outfit: "Outfit", sans-serif;
  --font-serif: "Young Serif", serif;
}

/* Global Reset */
* {
  box-sizing: border-box;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--c-stone-100);
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.image img {
  min-width: 23.438rem;
  width: 100%;
  object-fit: cover;
  margin-bottom: 40px;

  @media (min-width: 760px) {
    min-width: 33.5rem;
    border-radius: 12px;
  }
}
h1 {
  font-family: var(--font-serif);
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1;
  color: var(--c-stone-900);
  margin-bottom: 1.5rem;
}
h2 {
  font-family: var(--font-serif);
  font-size: 1.75rem;
  font-weight: normal;
  line-height: 1;
  color: var(--c-brown);
  margin-bottom: 2.5rem;
}

p {
  font-family: var(--font-outfit);
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: var(--c-stone-600);
}

ul,
ol {
  font-family: var(--font-outfit);
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: var(--c-stone-600);
}

hr {
  border: none;
  height: 1px;
  background-color: var(--c-stone-150);
  margin-inline: 2rem;
  @media (min-width: 600px) {
    margin-inline: 2.5rem;
  }
}

li {
  margin-bottom: 0.5rem;
  padding-left: 1.5rem;
}

li::marker {
  color: var(--c-rose-800);
}

.introduction,
.prep_box,
.ingredients,
.instruction,
.nutrition {
  padding-inline: 2rem;
  margin-bottom: 2rem;
  @media (min-width: 600px) {
    padding: 0;
  }
}

.recipe {
  width: 100%;
  background-color: var(--c-white);
  @media (min-width: 6000px) {
    max-width: 46rem;
    padding: 40px 40px;
    margin-block: 8rem;
    border-radius: 24px;
  }
}

.introduction {
  width: 100%;
  @media (min-width: 600px) {
    padding-inline: 40px;
    margin-block: 32px;
  }
}

.prep_box {
  background-color: var(--c-rose-50);
  padding: 1.5rem;
  margin-inline: 2rem;
  border-radius: 12px;
  @media (min-width: 600px) {
    margin-inline: 2.5rem;
  }
}
.prep_box h3 {
  color: var(--c-rose-800);
  font-family: var(--font-outfit);
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.prep_box ul {
  font-family: var(--font-outfit);
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: var(--c-stone-600);
}
.ingredients li::marker {
  padding-left: 0;
}
